
.table_index, .table_padded, .table_layout
  display: table
  width: 100%

.table_row, .table_row_header
  display: table-row

.table_cell
  display: table-cell

table, .table_index
  margin-bottom: $app-margin-medium
  width: 100%
  border-bottom: 1px solid $app-gray-medium

th, .table_row_header .table_cell
  padding: 0.4em 1.231em
  font-weight: $app-font-bold
  color: lighten($app-brown,10%)
  white-space: nowrap

td, .table_index .table_row .table_cell
  border-top: 1px solid $app-gray-medium
  padding: 0.6em 1.231em

.table_index .table_row
  @media screen and (max-width: #{$app-media-xs})
    .table_cell
      display: block
      padding-top: 0
      padding-bottom: 0
      &:first-of-type
        padding-top: 0.6em
      &:last-of-type
        padding-bottom: 0.6em
        border-top: none

    .text_right
      text-align: left

.table_padded .table_cell
  padding: 0.3em 1.231em 0.3em 0
  &:last-child
    padding-right: 0

tbody tr
  &:nth-of-type(odd)
    background-color: rgba(0,0,0,0.08)

.table_index .table_row
  &:nth-of-type(even)
    background-color: rgba(0,0,0,0.08)

.cell_collapse
  width: 1px
  white-space: nowrap
