<!DOCTYPE html>
%html{lang: "en"}
  %head
    %meta{charset: "UTF-8"}
    %meta{content: 'width=device-width', name: 'viewport'}
    %title Type Scale - A Visual Calculator
    %meta{name: "description", content: "Preview and choose the right type scale for your project. Experiment with font size, scale and different webfonts."}
    %meta{name: "keywords", content: "font, size, typography, typographic, typeface, em, ems, px, scale, calculate, calculator, webfont, edit, update, modular scale, preview"}

    %link{href: "style.css", rel: "stylesheet", media: "all"}

    %link{href: 'http://fonts.googleapis.com/css?family=Lato:400,400italic,700,700italic|Libre+Baskerville:400', rel: 'stylesheet', type:'text/css'}

    %link{href: "http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css", rel: "stylesheet"}

    <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-409712-10', 'type-scale.com');
    ga('send', 'pageview');
    </script>

  %body

    <!-- AdPacks.com Ad Code -->
    <script type="text/javascript">
    (function(){
    var bsa = document.createElement('script');
    bsa.type = 'text/javascript';
    bsa.async = true;
    bsa.src = '//s3.buysellads.com/ac/bsa.js';
    (document.getElementsByTagName('head')[0]||document.getElementsByTagName('body')[0]).appendChild(bsa);
    })();
    </script>
    <!-- End AdPacks.com Ad Code -->

    .container.stage
      .cols
        .col_side

          %form
            .box
              .field
                %label Base Size
                %input.base_size.input_select_all{type: 'text', style: 'max-width:4em;'}
                %span.text_muted
                  px = <span class="base_em">1.5</span>em

              .field
                %label Scale
                %select.font_scale
                  %option{value: '1.414'} 1.414 &mdash; Augmented Fourth
                  -#%option{value: '4.000'} 4.000 &mdash;Double Octave
                  %option{value: '1.618'} 1.618 &mdash; Golden Section
                  %option{value: '1.125'} 1.125 &mdash; Major Second
                  %option{value: '1.250'} 1.250 &mdash; Major Third
                  %option{value: '1.667'} 1.667 &mdash; Major Sixth
                  %option{value: '1.875'} 1.875 &mdash; Major Seventh
                  %option{value: '2.500'} 2.500 &mdash; Major Tenth
                  -#%option{value: '2.667'} 2.667 &mdash; Major Eleventh
                  -#%option{value: '3.000'} 3.000 &mdash;Major Twelfth
                  %option{value: '1.067'} 1.067 &mdash; Minor Second
                  %option{value: '1.200'} 1.200 &mdash; Minor Third
                  %option{value: '1.600'} 1.600 &mdash; Minor Sixth
                  %option{value: '1.778'} 1.778 &mdash; Minor Seventh
                  %option{value: '2.000'} 2.000 &mdash; Octave
                  %option{value: '1.333'} 1.333 &mdash; Perfect Fourth
                  %option{value: '1.500', selected: 'true'} 1.500 &mdash; Perfect Fifth

              .field
                %label Preview Text
                %input.preview_text.input_select_all{type: 'text', value: 'A Visual Type Scale'}

              .table_layout
                .table_cell
                  %h3 Google Webfont

                .table_cell.text_right
                  %a.font_small{href: 'http://www.google.com/fonts/', target: '_blank', tabindex: '-1'} Find Webfont

              .field
                %label Paste Tag
                %input.web_font.input_select_all{type: 'text', value: "<link href='http://fonts.googleapis.com/css?family=Libre+Baskerville' rel='stylesheet' type='text/css'>"}

              .field
                %label Paste CSS
                %input.web_font_name.input_select_all{type: 'text', value: "font-family: 'Libre Baskerville', serif;"}

          <!-- AdPacks.com Zone Code -->
          <div id="bsap_1291994" class="bsarocks bsap_0539c68d8c24c7e870a450d4e50e9e0e"></div>
          <a href="http://adpacks.com" id="bsap_aplink" class="remove_border_bottom">via Ad Packs</a>
          <!-- End AdPacks.com Zone Code -->

        .col_main{style: 'overflow:hidden;'}
          .table_padded
            .table_row
              .table_cell.text_right.cell_collapse
                %span.scale_high_label.text_muted.font_small
              .table_cell.scale_webfont
                %h1
                  %span.scale_high.scale_preview_text A Visual Type Scale

            .table_row
              .table_cell.text_right.cell_collapse
                %span.scale_high_label.text_muted.font_small
              .table_cell.scale_webfont
                %span.scale_high.scale_preview_text A Visual Type Scale

            .table_row
              .table_cell.text_right.cell_collapse
                %span.scale_high_label.text_muted.font_small
              .table_cell.scale_webfont
                %span.scale_high.scale_preview_text A Visual Type Scale

            .table_row
              .table_cell.text_right.cell_collapse
                %span.scale_high_label.text_muted.font_small
              .table_cell.scale_webfont
                %span.scale_high.scale_preview_text A Visual Type Scale

            .table_row.scale_base_size
              .table_cell.text_right.cell_collapse
                %span.scale_high_label.text_muted.font_small
              .table_cell.scale_webfont
                %span.scale_high.scale_preview_text A Visual Type Scale

            .table_row
              .table_cell.text_right.cell_collapse
                %span.scale_low_label.text_muted.font_small
              .table_cell.scale_webfont
                %span.scale_low.scale_preview_text A Visual Type Scale

            .table_row
              .table_cell.text_right.cell_collapse
                %span.scale_low_label.text_muted.font_small
              .table_cell.scale_webfont
                %span.scale_low.scale_preview_text A Visual Type Scale

            .table_row
              .table_cell.text_right.cell_collapse
                %span.scale_low_label.text_muted.font_small
              .table_cell.scale_webfont
                %span.scale_low.scale_preview_text A Visual Type Scale

    .content.container
      .cols.stage_footer
        .col_side.text_right.media_xs_hide
          %ul.inline_list
            %li
              %a.remove_border_bottom{href: 'https://twitter.com/jeremybchurch'}
                %span.fa.fa-twitter.fa-lg
            %li
              %a.remove_border_bottom{href: 'https://www.google.com/+JeremyChurch'}
                %span.fa.fa-google-plus-square.fa-lg
            %li
              %a.remove_border_bottom{href: 'https://github.com/jeremychurch/type-scale'}
                %span.fa.fa-github-alt.fa-lg

        .col_main
          A type tool by
          %ul.inline_list
            %li
              %a{href: 'http://j.eremy.net/'} Jeremy Church
            -#%li
              %a{href: 'https://twitter.com/jeremybchurch'} @jeremybchurch


      .cols
        .col_side.media_xs_hide &nbsp;

        .col_main
          .content_width.font_medium.break_large
            <div class="addthis_toolbox addthis_default_style">
            <a class="remove_border_bottom addthis_button_tweet"></a>
            <a class="remove_border_bottom addthis_button_facebook_like" fb:like:layout="button_count"></a>
            <a class="remove_border_bottom addthis_button_google_plusone" g:plusone:size="medium"></a>
            </div>
            <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=xa-5285205508e46c17"></script>

            %h2 How to Use

            %p I like to enter the base font size of my body content. Then I select from the surrounding values for headers and small copy.

            %p There are no rules. Just experiment and have fun. Try using the values for line-height, margins or whatever, and see what works.

            %h2 Background

            %p Most people are familiar with Tim Brown&rsquo;s <a href="http://modularscale.com/">Modular Scale</a> calculator. The site has raised awareness about scale and helped to improve typography on the web. It&rsquo;s also the inspiration for this project.

            %p The <em>Modular Scale</em> site has been a great reference over the years, but sometimes it&rsquo;s difficult to choose the proper scale without a visual reference. I hope to bridge that gap with <em>Type Scale</em>.

            %h2 Updates

            %p I&rsquo;d like to keep this project current and useful to the community. Please direct ideas and feedback to me on <a href="https://twitter.com/jeremybchurch">Twitter</a> or the <a href="http://j.eremy.net/contact">contact page</a> on my site.

          .break_small
            %ul.inline_list
              %li
                %a.remove_border_bottom{href: 'https://twitter.com/jeremybchurch'}
                  %span.fa.fa-twitter.fa-2x
              %li
                %a.remove_border_bottom{href: 'https://www.google.com/+JeremyChurch'}
                  %span.fa.fa-google-plus-square.fa-2x
              %li
                %a.remove_border_bottom{href: 'https://github.com/jeremychurch/type-scale'}
                  %span.fa.fa-github-alt.fa-2x

          %p.font_small
            Created by <a href="http://j.eremy.net/">Jeremy Church</a>
            %br
            Project available on <a href="https://github.com/jeremychurch/type-scale">Github</a>. Code licensed under <a href="http://opensource.org/licenses/mit-license.html">MIT License</a>.

    %script{src: "http://ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"}

    %script{src: "script.min.js"}
